@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1 id="header">Welcome to the Dr. Sillystringz's Factory!</h1>
<hr>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet!</p>
} 
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Type, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>
<hr>

<h2>Incidents</h2>

<table class="table">
    <thead>
        <tr>
            <th>Machine Type</th>
            <th>Machine Status</th>
            <th>Machine InspectionDate</th>
            <th>Engineer Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
            <tr>
                <td>@join.Machine.Type</td>
                <td>@join.Machine.Status</td>
                <td>@join.Machine.InspectionDate</td>
                <td>@join.Engineer.Name</td>
            </tr>
        }
    </tbody>
</table>
